export TF_VAR_aws_access_key=
export TF_VAR_aws_secret_key=
export TF_VAR_aws_region=us-west-2
export TF_VAR_aws_key_name=pcf-sding
export PRIVATE_KEY_PATH=/Users/sding/work/aws/personal/pcf-sding.pem
